// LIST

// Button styles
.button,
a.button
  padding: ($margin-small*0.8) $margin-small
  &.button-small
    padding: ($margin-tiny*0.8) $margin-tiny
  &.button-delete
    background-color: $color-button-warning

input
  padding: $margin-small

// FORM

// Checkbox
input[type='checkbox']
  margin-right: $margin-tiny
